[2015-12-26 16:55] mattsp opened #1 "cursoroffset declaration"
When you don't define the customiseControls method the cursor are not maintain, because the  cursoroffset dosen't have the same declaration than the cursoroffset define into the fabric js 1.5

[2015-12-27 09:10] MDSLKTR commented on #1
Thank you for reporting this, you are very correct. The correct cursor map thanks to your PR is now in release 0.0.5.

[2015-12-27 09:10] #1 closed, assigned to MDSLKTR

[2016-02-16 01:28] thejmill opened #4 "Offset icons outside bounding box"
Is there a way to move the icons further out so they don't overlap the bounding box and hide content?

[2016-02-16 07:30] MDSLKTR commented on #4
`obj.set( {
           padding: 20
        } );`

You can set this to increase the bounding box by an inner padding between itself and the image. Hope this is what you're looking for.

[2016-02-16 14:53] thejmill commented on #4
This is a good solution however it does not work in our scenario.  When we add more padding to the element box it causes it to go outside the bounding box and show it as not being withing the designated area.  Ideally we would like the selection box to have 0 padding and the corner controls to be on the outside of the selection box as show in the attached image.

![boundingbox](https://cloud.githu

[2016-02-16 17:00] MDSLKTR commented on #4
Ah i see, i can't promise you anything yet since i need to see whether this doesn't go too deep into the core, but i will check it out. It certainly could be a good feature to have certain control position offsets.
Thank you for your input so far. I am also always open to pull requests in case you have an idea.

Simon

[2016-02-24 10:29] DanieleSassoli opened #5 "Minified version isn't the same as formatted"
Hi,
It look's like the minified version in the dist folder isn't the same as the formatted version. I noticed this because _rotateByDegrees() is different across the 2 files, not sure about the others...

[2016-02-24 18:13] MDSLKTR commented on #5
Hey,
thank you very much for reporting this. It could have been a hickup in the grunt build process while pushing the latest version. I will recompile everything along with the pull requests you made for both branches and push a new release tag.

-Simon

[2016-02-24 18:18] MDSLKTR commented on #4
It looks to me that this is very heavy hack into the fabric.js core. It is possible to move the position of the corner icon itself, but the event handlers are fixed to a certain position in each corner. Moreover It is generally very hard to get the exact bounding box of a text element for instance which makes it almost impossible to get the real 'edges' of the text where the icon should sit. I wou

[2016-02-25 16:15] DanieleSassoli commented on #5
perfect, thanks!

[2016-02-25 16:25] #4 closed, assigned to nobody

[2016-02-25 16:26] MDSLKTR commented on #5
Should be working now in 0.0.9.

[2016-02-25 16:26] #5 closed, assigned to MDSLKTR

[2016-03-01 13:49] johanndms opened #8 "cornerPadding not working?"
I'm trying to set an offset for the controls, using cornerPadding but this doesn't seem to work? Any suggestions?

I also notice that using the "mtr" rotate handle at the top has a weird reaction on the first click....

Thanks
J

`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"

[2016-03-01 19:20] MDSLKTR commented on #8
Hello,

First of all thank you very much for reporting this.
Maybe there is a missunderstanding in what cornerPadding really is. It's the inner distance between the icon and the corner box borders. I made some screens with the difference, where the first has a padding of 10 and second 15.
![cp10](https://cloud.githubusercontent.com/assets/9129687/13438691/632522bc-dfea-11e5-83a4-b4df0ad7653f.jpg)

[2016-03-01 19:49] johanndms commented on #8
Hi Simon,

Thanks for the quick response and info.

Oops - think I get it. Was mistaking cornerPadding on the controls for setting "padding" on the actual object.

Apologies, your code is correct on the padding :+1:

With regard to the mtr - still seem to figure that one out.... First click to rotate moves the object upwards?

http://95.168.192.184/dev4/padding.html

https://www.dropbox.com/s/ama9

[2016-03-01 22:02] MDSLKTR commented on #8
Hello again,

sorry if the example wasn't clear enough but that's kind of how it should work as you said now. Shifting the controls to a certain offset is not possible afaik, or at least not with huge hacking into the core. So the padding is just for scaling your icons inside the box properly. You can increase the size of the boxes with cornerSize (same as fabric.js standard behaviour).

For the r

[2016-03-02 08:06] johanndms commented on #8
Hello Simon,

Thanks - that works perfect now!!!

For the padding and rotate I now use:
rect.set({
            padding: 12,
            originX: 'center',
            originY: 'center'
        });

and this works perfect!!

Thanks once again for the assistance and plugin!!

Cheers,
Johann

[2016-03-02 08:06] #8 closed, assigned to nobody

[2016-03-15 07:26] doliolarzz opened #9 "rotate action"
When I use rotate action, I don't know why it's changed position.

[2016-03-15 20:10] MDSLKTR commented on #9
Hello,
setting `originX: 'center'` and `originY: 'center'` to your object should resolve this problem.

[2016-03-18 15:01] #9 closed, assigned to MDSLKTR

[2016-04-11 15:06] spellfork opened #10 "No icon images are showing"
I have problem showing the icon images. I have followed the examples to point and I can find the image resources in my debugger. Any suggestions?

These are my global settings, I get the right corners and the corners do the right action, but I do not see any images (but I can see that the images are loaded by the browser):

[code]

[2016-04-12 18:14] MDSLKTR commented on #10
Hello there and sorry for the late response.
First of thank you for you report. Can you by any chance attach one of these svgs here? It might be related to the way they are built or in general svg related. Otherwise any demo environment would be fine too. Whatever you prefer really. I will then be able to have closer look at what might be breaking the extension.

Other useful info would be what fa

[2016-04-12 20:10] spellfork commented on #10
Hi, and thanks for replying

I should have provided more info in my first post. I am using the 1.5.0 release of fabric and while dubugging I even tried to switch the file I had for the fabric.js provided in the examples folder, but it didn't fix my issue.

While trying to debug I was also using the .svg files in the example folder and I've had the same issue with those as with my own files. I have

[2016-04-15 15:56] MDSLKTR commented on #10
It should be related to the SVGs loading i think. Since they are loaded through a normal img onload event. Very Strange. But maybe if you have setup ready where the error can be replicated, we can find the issue.

[2016-04-18 09:49] spellfork commented on #10
The problem seems to have resolved itself somehow?! I have no idea how it started working, but it did and I'm not about to question that. I will close my issue.

[2016-04-18 09:49] #10 closed, assigned to nobody

[2016-06-02 11:40] eddiezab opened #12 "Custom actions."
Currently custom actions are limited to those predetermined by the extension. I would like to be able to set the actions to utilize functions/callbacks to better integrate with applications.

For example:
`mr: {
                            action: function(ev, target) {console.log(ev, target);},
                            cursor: 'crosshair'
                        }
`

[2016-06-02 11:48] MDSLKTR commented on #12
Hey there. That sounds like an interesting feature. Would you like to have a go at implementing this and submitting a PR? Otherwise i currently cannot give a timeframe currently when i have the time to code it. I would be supporting as good as i can though.

The key entry point would probably be checking in _setupCurrentTransform if the action is a function and then returning the proper values for

[2016-06-02 16:02] eddiezab commented on #12
So I'm not a JS developer, and just hack it when I need to, so I don't know how to deal with making the minified version for a pull request and what not. I did accomplish what I was looking for right in the _setupCurrentTransform, and just added the following:

[code]

[2016-06-02 17:56] MDSLKTR commented on #12
well yeah, that should be it i guess haha. Let me get this in and release a new version

[2016-06-02 18:41] MDSLKTR commented on #12
you should be able to use this now if you bump your version to 0.1.2.

[2016-06-02 18:41] #12 closed, assigned to nobody

[2016-06-04 07:11] davidrossiter opened #13 "Combine rotate and resize into 1 custom control"
First off this extension is an amazing addition to fabricjs, customizing the controls is such a big part of making the canvas fit in with your design. So glad I've found it!

Something I have not come across and think would be great is the possibility to combine the two controls rotate and scale into 1 control. This gives the user far easier/quicker control over rotating objects and sizing them ho

[2016-06-04 08:20] blu94 opened #14 "Multiple object have same properties?"
how to make multiple different object have same properties at once?
this is my code, it is not efficiency
rect1.customiseCornerIcons({
    settings: {
        borderColor: 'transparent',
        cornerSize: 45,
        cornerShape: 'rect',
        cornerBackgroundColor: 'white',
        cornerPadding: 10
    },
    tl: {
        icon: 'computing-cloud.svg'
    }
});
rect2.customiseCornerIcons({

[2016-06-04 12:13] MDSLKTR commented on #14
Hey there, if all objects share the same setup you can simply use the prototype for setting everything up like this:

`
fabric.Object.prototype.customiseCornerIcons( {
    settings: {
       borderColor: 'transparent',
            cornerSize: 45,
            cornerShape: 'rect',
            cornerBackgroundColor: 'white',
            cornerPadding: 10
        },
        tl: {
            icon: 'co

[2016-06-04 15:30] MDSLKTR commented on #13
Hey there, thank you for kind words :). Really appreciate it!.

The combination of resize and scale would probably require to overwrite a bigger part of the fabric.js core. The hard part for instance is to hook into the mousemove listener that will change the scaling or rotation depending on which corner action you use. I think it can be done though but would require a good amount of time. `_perfo

[2016-06-13 10:50] davidrossiter commented on #13
Thanks for the reply, sorry for the delay commenting back! The explanation you've given is really great, especially the details on touch. I'm glad to hear it should be easier for touch devices combined with hammer.js as that is the platform I am looking for it to work on.

After taking a look it may be a little out of my depth, if I do manage to get there I'll post an update :)

[2016-07-05 20:46] MDSLKTR opened #16 "Canvas is not immediatly updated on remove() or layer functions in fabric 1.6.3"
Possible Bug in fabric.js See: https://github.com/kangax/fabric.js/issues/3083

[2016-07-16 00:44] iwilliams commented on #16
@MDSLKTR

Just now I was having this same issue, I was able to fix it by overriding the remove action to the following:

[code]

I'm not sure if this bug has to do with Fabric itself or this library so I don't know if it is appropriate to open a PR on this, also not sure if my solution is ideal.

[2016-07-16 14:53] MDSLKTR commented on #16
@iwilliams

Thank you for your response. I think something has changed in the api for sure as you cannot invoke remove() on the object itself anymore and getting an update. In the examples it is now always invoked on the canvas with the object as argument. I think i will make an update on this taking your code into account as it is probably the only working way at the moment.

[2016-07-16 16:29] MDSLKTR commented on #16
You should stick to fabric 1.6.2 for now until this is resolved, it seems like the activeObject is not properly removed when the render happens, this might be because an event is fired on the icon again when the remove is invoked, restoring the object.

[2016-07-18 00:46] anbiniyar opened #19 "Inline SVG is not working"
Thank you for this library. It truly is easy to use. While using it I found the following bug

If try to use inline svg like below for `customiseCornerIcons` function, it throws a warning saying that the image is invalid.

`data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gU3ZnIFZlY3RvciBJY29ucyA6IGh0dHA6Ly93d3cub25saW5ld2ViZm9udHMuY29tL2ljb24gLS0+DQo8IURPQ1RZUE

[2016-07-18 18:32] MDSLKTR commented on #19
Hello,
thank you for reporting this. This was intially a fix to not being able to export canvases that contained icons from external urls. So i now know that this only needs to be set when it's an external url.

[2016-07-18 18:53] MDSLKTR commented on #19
This is fixed in 0.1.5 now. I would recommend loading the svg from a .svg file though, because this causes loads of encoding errors when base64ing an svg. It won't work as a corner icon like this probably. You can easily save the contents to something.svg though when opening it in a browser.

[2016-07-19 01:58] iwilliams commented on #16
Running into some other strange bugs in 1.6.3, I've reverted back to 1.6.2 for the time being.

[2016-07-19 07:01] anbiniyar commented on #19
Like you suggested, I wanted to serve the .svg as a separate file. My current project right now forces me to use base64 as a temporary measure until I figure out a solution around it.

I verified that that the corner icon actually works using base64, at least for my use case. Thanks again for taking the time to fix this bug.

[2016-07-19 07:07] #19 closed, assigned to nobody

[2016-07-20 20:32] MDSLKTR commented on #16
@iwilliams this is now fixed in release 0.1.6 here.

[2016-07-20 20:37] #14 closed, assigned to nobody

[2016-08-07 18:44] Gogac opened #22 "Possibility to draw controls "outside the box""
Hi,
would be great that we have option to place Controls outside the object box. I'm busy with some mobile app and controls are a bit bigger and sometimes are over text/image.

I'm new with Fabric Js and still exploring the code. Maybe it's easy but i can not see it. So far i manage to draw Controls outside the box simple by adding **this.cornerSize** to width and height.

[code]

But that is only

[2016-08-08 22:32] MDSLKTR commented on #22
Hello, thank you for reporting this. Unfortunatly, this is something i have looked into before and it is not easily possible to change this. As you already described, it will only shift the controls visually. What you might be able to do is though is to use an inner Padding on the text element like this:

yourTextObject.padding = 20;

That would get you some space between the inner area and the co

[2016-08-09 17:36] Gogac commented on #22
I got it :). So far works perfect exactly how i want. As soon as i catch some time i will add on/off possibility. I'm still testing that.
btw, i know for padding option, but that also move rect box away from object and that is not what i want.

[2016-09-28 02:51] RJason13 opened #23 "more modification for specific corner"
i found your extension really useful for me, but there are some feature that you can add but you haven't.

i want to change cornerBG and corner shape, but only for specific corner like for delete button (red) and for scaleX (mr: diff shape) and scaleY (mb:  diff shape), and also after you enable that feature you can add more shape like a horizontal sausage for scaleY and vertical sausage for scale

[2016-10-04 12:14] MDSLKTR commented on #23
Hey there and sorry for the late response (holidays). First of thank you for using this extension and tinkering with it :). If you want you can always shoot me a pull request for your changes. As you said this could be a nice and useful feature i would be more than willing to merge.

[2016-10-06 06:28] RJason13 commented on #23
well, i modified a copy of your file and maybe i modified it not so cleanly, so, i think i will just attach my file here so you can get the idea and probably you want to create the cleaner version

![image](https://cloud.githubusercontent.com/assets/15855266/19142578/95e9682c-8bc8-11e6-8b40-68c3974ae04d.png)

this is what i do in my app core, i hope it will help :)

modified file: [customiseContro

[2016-10-07 16:09] MDSLKTR commented on #23
Great thank you! I'll take a look soon and see what i can make of it.

[2016-11-02 16:55] websuvius commented on #16
Hello,
this bug is happening again in fabric 1.6.5 and 1.6.6.

[2016-11-03 19:11] MDSLKTR commented on #16
Hello,
thank you very much for reporting it. I will update the extension to the newest fabric dist sometime during the next days and then take a look. I was really hoping it was resolved but the rendering process might have changed again..

[2016-11-04 08:30] Robertdegraaf opened #24 "Resize.svg not shown in Firefox browser"
In the firefox browser the resize.svg icon is not showing. On your demo link you can see the error http://pixolith.github.io/fabricjs-customise-controls-extension/example/index.html. If I change the resize.svg in remove.svg the icon will show in for example tl position. De diagonal-resize.svg will also not show.

[2016-11-05 17:19] MDSLKTR commented on #24
Hello,
thank you for reporting this. It appears that width and height attributes need to be set on the svgs for it to  be displayed in firefox. This is very weird as svgs should scale independant from fixed dimensions. I will update the example to properly display all icons. The Bug however i would put into svg quirks category for now.

[2016-11-05 17:27] MDSLKTR commented on #24
This now fixed in https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.1.8 and on the example Page.

[2016-11-05 17:27] #24 closed, assigned to MDSLKTR

[2016-11-05 17:29] MDSLKTR commented on #16
@websuvius for me this working in the newest fabric.js dist (1.6.6). Check the example [Page](http://pixolith.github.io/fabricjs-customise-controls-extension/example/index.html) here again since i have updated it to fabric.js 1.6.6. If it is still not working for you, we can try to investigate further.

[2016-11-11 10:36] Robertdegraaf commented on #24
Can you tell me how you fixed this problem. I want the resize.svg to be mirrored but when I save this svg the new svg will also not be visible.

[2016-11-11 14:48] MDSLKTR commented on #24
Hello again,
yes you need to additionally set width="" and height="" attributes on the svgs to get them displayed in Firefox. Check this [Commit](https://github.com/pixolith/fabricjs-customise-controls-extension/commit/4d4e14bf44069404db84140ff85aa48987b51073).

[2016-11-21 14:54] buicongdang opened #25 "How to set Control Visible"
**Completed**

[2016-11-22 07:48] MDSLKTR commented on #25
Does it work? Not sure i understood your question correctly.

[2016-11-23 16:26] #25 closed, assigned to nobody

[2016-12-06 19:45] #16 closed, assigned to MDSLKTR

[2016-12-06 21:50] ghost opened #26 "Can't remove the top most rotate handle"
I can get it to work, but I don't want the native rotate handle to appear because I want to control rotation from another handle.

[2016-12-06 23:14] MDSLKTR commented on #26
Hello,

have you tried?
[code]

[2016-12-08 11:12] tborealis commented on #22
@Gogac could you report back on how you solved it?

[2017-01-02 04:35] craziduezi commented on #26
Hi there, great customisation extension for fabricjs! I had a quick question though. I'm originally setting the customised options when I initiate the canvas. Giving the objects all the same customised controls. The issue is that when I add an image (new fabric.Image) and try to change the controls; I'm able to set the custom icons for the Image but the actions still is inherited from the general

[2017-01-02 04:42] craziduezi opened #28 "Change custom actions for each different type of object (Image/Circle/Text/etc...)"
Hi there, great customisation extension for fabricjs! I had a quick question though. I'm originally setting the customised options when I initiate the canvas. Giving the objects all the same customised controls. The issue is that when I add an image (new fabric.Image) and try to change the controls; I'm able to set the custom icons for the Image but the actions still is inherited from the general

[2017-01-02 07:31] MDSLKTR commented on #28
Hey there, thank you for taking the time to write this up. The general problem here is that in the fabric.js core the corner actions, as you correctly stated, inherit from the fabric.Canvas prototype which basicly means there is no way to define these for each individual object without some serious shifting of functions which in my opinion would be very hard task to do and to maintain in the futur

[2017-01-02 08:32] craziduezi commented on #28
No worries I understand the time issue; I'm sure it's possible to just dynamically change it each time an object is selected and/or added. Could possibly set the function '.customiseControls()' on the 'object:added object:selected' events and just declare the type when adding the object originally. I'll try to see if I can get a jsfiddle up later when I'm free'd up. Logically makes sense but guess

[2017-01-02 09:36] craziduezi commented on #28
@MDSLKTR It seems to be working if you get time check out the jsFiddle.

[jsFiddle - Dynamically changing customised control actions](//jsfiddle.net/craziduezi/YH9yD/321/)

It doesn't seem to cause performance/UEX issues but I will implement that into my project and see how it handles with multiple objects and types.

[2017-01-02 09:58] craziduezi commented on #28
@MDSLKTR It seems to be working if you get time check out the jsFiddle.
[jsFiddle - Dynamically changing customised control actions](//jsfiddle.net/craziduezi/z77v977k/)
It doesn't seem to cause performance/UEX issues but I will implement that into my project and see how it handles with multiple objects and types. However, I see your extension being applicable in many other ways through controllin

[2017-01-02 19:44] MDSLKTR commented on #28
@craziduezi Hey again, this is actually a very clever workaround binding this to an event handler. If there are no issues performance-wise i would like to add this tipp to the docs since a real change of core behaviour is unlikely from my part in the near future. This should be good enough to satisfy most use cases. Great stuff.

[2017-01-03 05:48] craziduezi commented on #28
Thank you! So, this is the initial setup I had to use but I found a small issue when overwriting.
I had to overwrite the 'scaleX / scaleY' icons with blank.svg to overwrite the icon that I had set for the previous selected object type; otherwise they would maintain the previous object type's icon.
As well as for actions can not be left blank for overwriting, they must be declared as the original s

[2017-01-03 06:01] craziduezi commented on #28
Accidentally closed / I think that's about all we can do with it for now anyways. Thanks again @MDSLKTR

[2017-01-06 11:53] MDSLKTR commented on #28
@craziduezi Yeah i think so too, this is a great reference, i will update the docs with this link and close for now, great work!

https://github.com/pixolith/fabricjs-customise-controls-extension/blob/gh-pages/README.md#note-on-having-custom-control-actions-for-each-object

[2017-01-06 11:53] #28 closed, assigned to nobody

[2017-01-06 20:52] MDSLKTR commented on #22
Closed since no updates.

[2017-01-06 20:52] #22 closed, assigned to nobody

[2017-01-06 20:53] MDSLKTR commented on #13
Closed since no update regarding this issue.

[2017-01-06 20:53] #13 closed, assigned to nobody

[2017-01-06 20:53] MDSLKTR commented on #26
Close since no update regarding this issue.

[2017-01-06 20:53] #26 closed, assigned to nobody

[2017-01-12 12:01] robinflyhigh opened #29 "Update fabric dependencies to latest 1.7.3"

[2017-01-14 14:19] MDSLKTR commented on #29
Will upgrade this weekend, thank you for the reminder.

[2017-01-14 21:57] MDSLKTR commented on #29
fabric.js dependency is now updated in 0.1.9

[2017-01-14 21:57] #29 closed, assigned to nobody

[2017-01-19 16:50] artboard-studio opened #30 "Custom actions on mouse move"
Hi

First of all thank you very much for this great extension, but I am confused a little bit about using custom actions.

For my shapes, I would like to use custom actions so that when I click and drag the 4 corner controls it would change the width and the height of the shape instead of scaling it, but it appears to me that the only event that I have access to when using custom actions is `mouse

[2017-01-21 17:10] MDSLKTR commented on #30
Hey there,
first of all, thanks for the question. I appreciate any feedback i can get. Concerning your question, i think two problems arise. One would be that fabric.js currently is limited to actions being defined in the canvas context instead of the object context. This means you won't be able to define actions for each object.
Fortunatly there is one workaround [here](https://github.com/pixolit

[2017-01-23 14:03] artboard-studio commented on #30
Thank you very much for your thorough answer. I will certainly give the workaround a try.

Yes, it's a possible solution to scale and then set the width and height based on that. I also need the `mouse:move` event for other functionalities too, for example for my rectangle shapes I want to dedicate one of the corners to border radius, use clicks and drags and sets the border radius based on that.

[2017-01-23 15:20] MDSLKTR commented on #30
Hey again,

yeah that would be a possible solution. It's gonna be a bit hacky for sure. Also for the border radius you could utilize the scale as well i think. Use the current scale value from the canvas scale event as an indicator for the border radius but fixate the current scaleX/scaleY from the fabric object to the initial values.

[2017-01-23 15:24] artboard-studio commented on #30
Thank you very much for the help, Simon 👍

[2017-01-29 14:27] MDSLKTR opened #31 "Compare Overwrite functions with current stable functions"
I think it is time to check if the API internally has been refactored (since 1.6.0 when this code was written) and if so adapt it for this extension. Functionality seems to be given still which is good but this code shouldn't differ any more than necessary from the core.

[2017-02-02 04:43] msreekm opened #32 "issues with fabric 1.7"
this extension might not be fully compatible with your version of fabric.js (1.7.3).Consider using the latest compatible build of fabric.js1.6

Uncaught TypeError: action.slice is not a function
    at klass._updateCacheCanvas (fabric.js:12345)
    at klass.isCacheDirty (fabric.js:12649)
    at klass.render (fabric.js:12605)
    at klass._renderObjects (fabric.js:6904)
    at klass.renderCanvas (f

[2017-02-03 18:54] MDSLKTR commented on #32
Hey, thank you for the feedback. What kind of code were you executing when this error appeared? The Compatitibility hint does not necessarily mean the extension won't work. The example page for instance runs on 1.7.3 as well.

[2017-02-08 09:33] Lucassssss opened #33 "The problem of FontFamily changed"
Hi there, The great extension saving life.
I`m using the extension to font, The border width have some problem when the font family changed.
![s](https://cloud.githubusercontent.com/assets/5128154/22731154/a2516c9a-ee24-11e6-9988-f429ed2c52a9.png)

[2017-02-08 12:44] MDSLKTR commented on #33
Hey there, thank you for reporting this. Could you by any chance whip up a small testcase on codepen for instance? Otherwise some code posted here would be useful, so i can determine which parts are possibly breaking.

[2017-02-09 04:55] Lucassssss commented on #33
Finally, I found that is not the extension`s  problem.
Here is the demo,

https://jsfiddle.net/LucasWang/toekxzen/

When i editing The text, The border`s width will be bug. I think the problem is cause by The FontFamily self, and the issues should not  be here. Sorry for your time.

[2017-02-09 17:20] MDSLKTR commented on #33
Hey there, no problem at all :), I'll close this then and good luck with your project.

[2017-02-09 17:20] #33 closed, assigned to nobody

[2017-02-13 22:22] MDSLKTR commented on #31
Functions updated to the latest core (1.7.3) as of 0.2.0.

[2017-02-13 22:22] #31 closed, assigned to MDSLKTR

[2017-02-13 22:22] MDSLKTR commented on #32
Closed because no activity. Please open a new ticket if you need further support.

[2017-02-13 22:22] #32 closed, assigned to nobody

[2017-02-24 17:26] anfen opened #34 "Support FontAwesome"
Is it possible to use FontAwesome fonts for icons, rather than image files?

[2017-02-25 16:21] MDSLKTR commented on #34
Hey there. I am afraid this won't work out of the box since it would be too much of a change to the core to accomplish this. What you probably can do though is load the icons onto a canvas with the fabric.js text element and then export the pieces as images dynamically for usage as corner icons.

[2017-02-25 20:32] anfen commented on #34
Thanks for the suggestion. I think I follow, but what do you mean by "export the pieces as images dynamically"?

[2017-02-25 22:10] MDSLKTR commented on #34
Hey again, http://fabricjs.com/docs/fabric.StaticCanvas.html#toDataURL is what i meant by that. Since you can supply top/left values, you should be able to make proper images out of your icons rendered on canvas. The result can then be loaded with this extension as a normal corner icon image.

[2017-03-14 15:15] simsationX opened #35 "Remove action not working on i-text element"
Hi

Thank you for this awesome project.

Unfortunately the remove action does not work properly on an i-text element. If I click on the remove icon which triggers the remove action the following error message appears:

`Uncaught TypeError: Cannot read property 'getPointer' of undefined`

So I began to write my own remove method:

[code]

The important thing is to call target.off() first. This way

[2017-03-14 18:58] MDSLKTR commented on #35
Hey there,

thank you for reporting this. This sounds like it was a nasty thing to find and fix. I shall adapt your fix very soon and release a new version. Good Stuff!

Simon

[2017-03-14 19:10] MDSLKTR commented on #35
fixed in: https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.2.2

[2017-03-14 19:10] #35 closed, assigned to MDSLKTR

[2017-03-30 19:22] MDSLKTR opened #36 "create umd module version"
get this to work with common bundlers

[2017-03-31 07:25] evolutionjay opened #37 "TypeError"
1

<img width="710" alt="2017-03-31 3 20 31" src="https://cloud.githubusercontent.com/assets/4468540/24540501/14c5ed04-1626-11e7-8d23-944b874d5ba6.png">

2

<img width="463" alt="2017-03-31 3 24 27" src="https://cloud.githubusercontent.com/assets/4468540/24540521/2daab8ea-1626-11e7-9b9a-21dd6fb980b5.png">

[2017-03-31 16:01] MDSLKTR commented on #37
Hey there,
thanks for reporting this.
Sounds like this util is no longer used. Will fix this asap and release a new version.

[2017-03-31 20:52] MDSLKTR commented on #37
Please try installing the latest version 0.2.4 which should resolve the issue when bundling with webpack. Please let me know.

[2017-03-31 20:54] #36 closed, assigned to MDSLKTR

[2017-04-01 03:28] evolutionjay commented on #37
@MDSLKTR
Still  error, Tomorrow I write a demo for you.

[2017-04-01 07:27] MDSLKTR commented on #37
@evolutionjay that would be great, i tested it in my webpack 2 build process of another project, but of course a demo mirroring your setup will help fix this by a mile.

[2017-04-04 09:59] robinflyhigh opened #38 "fabric.js depenency"
In bower.json the dependencies should be set to fabric.js instead of fabric because in my bower folder two fabric projects are downloaded.

"dependencies": {
    "fabric.js": "~1.7.9"
  }

[2017-04-04 11:58] MDSLKTR commented on #38
Hey there, i see. On npm it's only called fabric. I shall correct that 👍

[2017-04-05 18:14] MDSLKTR commented on #38
This is now fixed in https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.2.5.

[2017-04-05 18:14] #38 closed, assigned to nobody

[2017-04-07 13:37] MDSLKTR commented on #34
Closed because of inactivity. Please re-open if you need further help.

[2017-04-07 13:37] #34 closed, assigned to nobody

[2017-04-07 13:38] MDSLKTR commented on #30
Closed because of inactivity. Please re-open for further help :)

[2017-04-07 13:38] #30 closed, assigned to nobody

[2017-04-09 11:29] MDSLKTR commented on #23
This is now partially included in https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.2.6.

Basicly you can set these settings for each corner now, but the custom corner shapes you added caused problems on edge corners which is why they are not included for now. Great Stuff!

[2017-04-09 11:29] #23 closed, assigned to MDSLKTR

[2017-04-10 03:57] RJason13 commented on #23
cool, thanks i'll use it soon 👍

[2017-05-15 12:03] robinflyhigh opened #40 "Issue with Fabric cache"
Hello,

Please check the jsfiddle @ https://jsfiddle.net/robinflyhigh/vqjq3z8v/2/

If you remove the shape first then js error is thrown but if you remove the text first then it will work fine.

This issue happens only when we add objectCaching: true for text.

When we use it without 'fabricjs-customise-controls-extension' it works fine.

Any clue what is wrong?

[2017-05-15 15:56] MDSLKTR commented on #40
Hey there, thanks for reporting this. I will have a look asap.

[2017-05-15 16:54] simsationX opened #41 "I-Text element behaviour when editing"
Hi Simon

If I have an I-Text element and I want the box growing to the right when im editing it, I have to set originX and originY to left/top. But then your rotate action does not work properly. If I use originX and originY as center the rotate action works fine, but the editing behaviour in the I-Text is that the text grows from the center, to left and right simultaneously. Is it possible to ha

[2017-05-15 17:19] MDSLKTR commented on #40
Hey again, this is an issue with objectCache trying to slice your custom action function as a string. I converted the action to a void string after execution so the type check doesn't fail. Please test the latest release and close this if everything is fine :).

https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.2.9

[2017-05-15 17:24] MDSLKTR commented on #41
Hi Simon,
this is likely not a bug. The way the origin works is just as you described. What you can do though is listen for the text related input events from fabric (https://github.com/kangax/fabric.js/wiki/Working-with-events) and set the orgin to top/left while the user is editing it ( `text:editing:entered`) so the box expands to the right. And when the `text:editing:exited` event is fired as

[2017-05-15 17:32] simsationX commented on #41
This is exactly what I tried. If I set origin to top left, then the text element is set to another position. So I have to do something like this for `text:editing:entered`:

[code]

But this won't work if the text element is already rotated. I suppose I have to calculate the position with sin/cos then, but I have no clue for the moment.

[2017-05-15 17:33] robinflyhigh commented on #40
Works

[2017-05-15 17:33] #40 closed, assigned to MDSLKTR

[2017-05-15 17:33] robinflyhigh commented on #40
Thanks a lot @MDSLKTR

[2017-05-15 17:42] MDSLKTR commented on #40
No problem man, happy to help!

[2017-05-15 17:58] MDSLKTR commented on #41
I'm afraid this is the way to go. If you want to create a small testcase in jsfiddle i'd be willing to chip in a few lines but this is a trial and error thing for me too. Fabric might do some things for you automatically but it seems like you need to take care of offset translation manually.

[2017-05-15 18:51] marvinhuebner commented on #22
@Gogac could you give a report how you solved this?

[2017-05-16 15:07] simsationX commented on #41
I found in fabricjs doc the property `centeredRotation: true`. If originX and originY is not set as center, you can still rotate around the center then. Why does we have to set the originX and originY to center to use your rotate action properly? It's not possible somehow to write a custom action for rotate which does call the rotate of fabricjs directly and does not use your `_setOriginToCenter`?

[2017-05-16 16:19] simsationX commented on #41
Okay as a quickfix for me, I commented your `_setOriginToCenter` method out because I don't need that. It overwrites the original one from https://github.com/kangax/fabric.js/blob/master/dist/fabric.js#L10653. What's the purpose of your custom `_setOriginToCenter`?

[2017-05-16 18:29] MDSLKTR commented on #41
That is a relic from the old days possibly. Let me check that, if its not needed anymore it will be removed.

[2017-05-16 18:35] MDSLKTR commented on #41
Feel free to pull the latest release and close the issue if resolved. I removed both methods as they are no longer necessary and as you correctly stated problematic.

[2017-05-16 20:47] #41 closed, assigned to MDSLKTR

[2017-05-17 10:12] ohader commented on #22
I've implemented this functionality basically which can be enabled per `fabric.Object` instance with e.g. `myObject.cornerOutside = true;`.

Find the adjustments for this here (some rebasing might be required for current upstream):
https://github.com/ohader/fabricjs-customise-controls-extension/commit/689639f6b35a844d725bd875fe448114a50ad059

![bildschirmfoto 2017-05-17 um 11 39 33](https://cloud.

[2017-05-18 21:40] astw opened #42 "Great to see this extension,"
Hi thank you for the extension.

Does it work with the fabricjs  1.7.11?

[2017-05-18 22:05] MDSLKTR commented on #42
Hi and thank you! Yes it does and if something doesn't, feel free to create an issue so i can fix it.

[2017-05-23 09:59] #42 closed, assigned to nobody

[2017-05-25 14:45] SmboBeast opened #43 "TypeError"
This library seems great and it's what I've been looking for.  However, I can't seem to get things working.

I'm literally just adding FabricJS (any of the newer ones), along with the CustomizeControls JS file, and everything loads fine.  Drawing on the canvas is fine also.  However, when selecting and moving any object, I get these errors attached.

Going through the examples, nothing is really d

[2017-05-25 15:37] MDSLKTR commented on #43
Hey man, thank you for reporting this. This looks like a weird error as i also include a pretty new version of fabric in my example. Mind putting up a small testcase or sharing some code, so i can investigate whats going on?

Regards,
Simon

[2017-05-25 17:26] SmboBeast commented on #43
Hey Simon,

Thanks for the prompt reply.  Let me figure out the best way to have you see this test case.  My code is intertwined with React (which can somehow be getting in the way).  I will surely update you as soon as I can get something in front of your eyes.

Thanks!
Sam

[2017-05-25 17:46] MDSLKTR commented on #43
Hey Sam,

Sure thing! I have only used this in an Angular context before but when i hear react, it could be due to react not autobinding functions in event handlers in es6 classes, where you oddly have to do this.functionname = this.functionname.bind(this) in your constructor. Just a wild guess though :D

Regards,
Simon

[2017-06-03 06:56] SmboBeast commented on #43
Simon,

Finally got some time to jump back on this again.  I'm not sure how I can have you play with this firsthand, but maybe this would be enough for you to understand what's going on.

I don't think it's a React binding thing, because things seem to be binding just fine.  I'm including a screen shot here.

I'm also just using the basic code you have here: [https://github.com/pixolith/fabricjs-c

[2017-06-03 07:01] SmboBeast commented on #43
Might be the explicit + 'Rect' piece????

[2017-06-03 08:45] MDSLKTR commented on #43
Hey thank you for following up. I think you caught a breaking change in fabric. When not using customIcons from my extension the `methodName` previously was set to `fillRect/strokeRect` directly. In the newest fabric version it is set to fill/stroke and 'Rect' is appended later. So now it was trying to invoke `fillRectRect()` which will throw an error. I am fixing it now, will let you know.

[2017-06-03 08:58] MDSLKTR commented on #43
Hopefully fixed in https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.3.1. Please let me know 👍

[2017-06-03 14:36] SmboBeast commented on #43
Thank you.  Errors are fixed.  Now I just have to figure out why the UI doesn't render something like the following below.  However, the actions work just fine - the top left button actually removes the layer when clicked and the cursor is also a pointer upon hover too.

fabric.Canvas.prototype.customiseControls({
        settings: {
          borderColor: 'black',
          cornerSize: 25,

[2017-06-03 15:09] MDSLKTR commented on #43
You are trying to pass the settings in on the canvas prototype for the controls (`fabric.Canvas.prototype.customiseControls()`) which unfortunatly only lets you define the actions and cursors.
Pass your settings in` fabric.Object.prototype.customiseCornerIcons()` which overwrites the correct prototype for fabric objects.

[code]

[2017-06-03 15:21] SmboBeast commented on #43
You are great!  Thank you for all your help and work putting this library together.  Saves us all time and effort instead of having to write out own.  We appreciate your work!

[2017-06-03 17:24] #43 closed, assigned to nobody

[2017-06-03 18:01] MDSLKTR commented on #43
Thank you very much for the kind words! Really appreciate it! Glad i could help.

[2017-06-04 22:36] SmboBeast opened #44 "Some options don't render as they should"
Hi,

When not using custom icons, the code below doesn't actually render accordingly.  No matter what, corner icons are squared and the default blue outline is rendered.  Is the code below supposed to make all objects have black circles as their corners?

fabric.Object.prototype.customiseCornerIcons({
        settings: {
          borderColor: 'black',
          cornerSize: 25,
          cornerSha

[2017-06-05 14:25] MDSLKTR commented on #44
Hey again,

I will have a look, could be the case that since no icon is selected the settings will just jump to default which is incorrect as you stated.

Regards,
Simon

[2017-06-05 17:27] MDSLKTR commented on #44
Shoud be fixed in:
https://github.com/pixolith/fabricjs-customise-controls-extension/releases/tag/0.3.2

[2017-06-05 23:43] SmboBeast commented on #44
It works perfectly.  I sent over some beer as a thank you.  ;)

[2017-06-05 23:43] #44 closed, assigned to MDSLKTR

[2017-06-30 03:22] magebay99 opened #45 "Control icons out of canvas"
However, a very big issues when I added an  image larger size than canvas, all the custom control icons are also go out of canvas size.

Is there a solution to keep it stay in canvas for this happen?

Thank you so much for great extension!

[2017-07-02 01:55] MDSLKTR commented on #45
Hey there,
thank you! I think your best bet is to control the image dimensions when rendering it on the canvas. There is a scaleX and scaleY property on the image object. You could of course try to limit the position of the image to the current canvas size, which would help with the controls staying visible. Other than that, i don't think there is an interface handling this particular problem. The

[2017-07-05 12:01] p3ndu commented on #37
Hi,

Any update on this? We started getting this error also on our project using fabricjs 1.7.13 and fabricjs-customise-controls 0.3.3

[code]

How can we get this to work again?

Regards,
Alex

[2017-07-12 10:29] MDSLKTR commented on #37
Hi,
sorry for the delayed response. I was on holiday till yesterday. I'm quite curious what the problem is here since it works for me in my webpack 2 test environment. I already asked the thread creator to create a demo, so i might need to forward that to you @p3ndu since the topic was basically left for dead before.
Maybe at first your webpack config combined with how you include/import customise

[2017-07-12 10:32] p3ndu commented on #37
Hi @MDSLKTR ,

We got it to work with the "standard" mport:
`import "fabric-customise-controls";`

There was another issue on our side which was causing the IIFE to not be executed.

Regards,
Alex

[2017-07-12 10:38] MDSLKTR commented on #37
Hi @p3ndu,
thanks for clarifying. That was the way i tried it before too. Glad it works for you now! I'll close this then.

Regards,
Simon

[2017-07-12 10:38] #37 closed, assigned to MDSLKTR

[2017-07-12 10:39] MDSLKTR commented on #45
I'll close this question for now. Please re-open if you need further support.

[2017-07-12 10:39] #45 closed, assigned to nobody

[2017-07-13 05:23] Charles9292 opened #46 "callback use？"
problem：When I click on the upper right corner the element is not deleted
[My code](https://jsfiddle.net/Charles_/r9ytud3o/)
_**no run**_

[2017-07-13 08:57] MDSLKTR commented on #46
Hey there, thanks for reporting this. Could you try the following lines instead in your ajax cb:

[code]

And if that doesn't do it (there used to be a workaround needed for force removing and re-rendering) append this (but only if really needed :P):

[code]

Regards,
Simon

[2017-07-13 14:42] Charles9292 commented on #46
This method won't work, click Two clicks to delete.
This way `action: 'remove'` can be run.
But I want to do something after I delete it.
So I use the callback way.
The same question [link](https://stackoverflow.com/questions/45031060/canvas-click-the-picture-to-generate-the-fork)

[2017-07-14 09:41] MDSLKTR commented on #46
Hey again, i get your intentions. Even with the combination of
[code]
it wont delete in one click?

The way above is basically how `action: 'remove'` works internally. So this can run in your callback as well easily.

Regards,
Simon

[2017-07-15 04:49] Charles9292 commented on #46
[code]
That's what my code says.
Still need to click two clicks to delete.

[2017-07-15 15:06] MDSLKTR commented on #46
Hey again,
try it with this:

[code]

Regards,
Simon

[2017-07-20 12:26] Charles9292 commented on #46
May be set up `fabric.Object.prototype.renderOnAddRemove = false`
I try not to set this property to normal delete
Most of the time
But there's a new problem
after adding code`if (!confirm('delete？')) return`
not functioning properly
[new question](https://jsfiddle.net/Charles_/r9ytud3o/1/)

[2017-07-25 16:28] faniva opened #47 "Add cornerSize option to individual corner's settings?"
Right now, you can customize the corners separately by passing a settings object like this :

[code]

The options to customize are limited to "cornerShape", "cornerBackgroundColor" and "cornerPadding".
Could you please add "cornerSize" too?

[2017-07-25 16:49] MDSLKTR commented on #46
Hey again, i am not exactly sure what you are trying to do but

[code]
does not work. You can't return out of a confirm.
This might work

[code]
Regards,
Simon

[2017-07-25 16:54] MDSLKTR commented on #47
Hey,

thank you for the request. Shouldn't be too much of a problem. Will do when i get the time.

Regards,
Simon

[2017-07-25 17:32] faniva commented on #47
Hi,
Thanks for getting back to me. I wrote a solution just now before I saw your reply and made a push to the repository. Hope it helps!
Another request, maybe font-awesome support? That'd be cool

[2017-07-26 02:53] #46 closed, assigned to nobody

[2017-07-26 04:53] christikaes commented on #47
I would like this feature too! Created a PR ^ based on @josefano suggestion (:

[2017-07-26 10:53] MDSLKTR commented on #47
Hi @christinakayastha,

thank you very much for the PRs! Immediate PRs are always welcome. I will take a look either today or tomorrow and release a new version including the current fabric.js build.

Regards,
Simon

[2017-07-29 09:40] #47 closed, assigned to nobody

[2017-07-29 09:50] MDSLKTR commented on #47
This is now in 0.3.4

[2017-07-29 22:22] justin-hackin opened #51 "Demo page has broken link to fabric.js, unviewable"
It's a real shame because this extension is awesome !  I'm glad I went the extra mile to download repo and npm install deps because the from text description I did not have good idea about the full range of possibilities and your demo did a great job of showing that.

[2017-07-29 22:29] MDSLKTR commented on #51
Hey there, thanks for opening an issue about this since i broke the page with todays update :D. Should all be working again now! And thanks for the kind words!

[2017-07-29 22:29] #51 closed, assigned to nobody

[2017-08-10 21:53] arturmagalhaesjr opened #53 "Custom icon position"
Hi,

I have tried to change the default position of custom icons, so when I changed the position of one element, that's OK, but the mouse interaction area remains wrong.

That area stay the same even changing the icon position.

Example:

[code]
How do you think that I can fix this ?

Thanks a lot.

[2017-08-11 19:21] MDSLKTR commented on #53
Hey there,

thank you for your Question. This is sadly a very difficult topic since the mouse interaction areas as you described are not bound to the plain drawing areas of the corner which you shifted with your `MARGIN_CORNER` value.
This has been discussed here: https://github.com/pixolith/fabricjs-customise-controls-extension/issues/22
It also features a fork of this repo (i hope it still exist

[2017-08-18 06:22] justin-hackin opened #54 "control cursor broken with fabric@2.0.0"
Works fine with fabric@1.7.9 but latest fabric@2.0.0-beta-6 does not show proper cursors
see https://jsfiddle.net/vt04qL81/
swap commented fabric.js version (used in example) to observe expected behavior

[2017-08-18 06:23] justin-hackin opened #55 "outdated documentation regarding version use"
docs say " ....use the release 0.1.0 of this extension" but that release is really old so I suspect this should be updated

[2017-08-18 18:35] MDSLKTR commented on #55
Hey there,
this part of the docs is now more clear, meaning at least 0.1.0 of this extension for fabric 1.6.0 and above excluding 2.x beta.

Regards,
Simon

[2017-08-18 18:35] #55 closed, assigned to nobody

[2017-08-18 18:42] MDSLKTR commented on #54
Hey,

Version 2 of fabric.js is currently not supported as i don't have the time to keep up with beta changes. I will probably try to make it work when 2.0 is out of beta.
Nonetheless, PRs are always welcome.

Regards,
Simon

[2017-08-18 18:42] #54 closed, assigned to nobody

[2017-09-02 12:08] nitin-bc opened #56 "Getting security error when use customisecontrols in IE 11"
Hi,

When i use customisecontrols property then i am getting security error issue in IE 11 at the time of exporting the data from canvas using canvas.toDataURL(). Can someone please let me know the solution for the same? Its little bit urgent.

Thank you in advance

[2017-09-02 14:49] MDSLKTR commented on #56
Hey there, thank you for reporting this. What kind of images did you use as controls? Also i assume this is not happening when no corner controls have images?

Regards,
Simon

[2017-09-04 04:26] nitin-bc commented on #56
Hi, thanks for your response. I am getting this issue while using custom controls. I think this is happening due to cross origin issue but the image files i am using on same server. Also while i am trying the image from google path like this @ http://pixolith.github.io/fabricjs-customise-controls-extension/example/index.html. It seems working. I am not sure what is strange.

[2017-09-04 08:05] MDSLKTR commented on #56
Hey again, you could try to set the crossOrigin attribute on the image if IE 11 supports it. Something like ```img.crossOrigin = 'anonymous';```. Otherwise maybe this thread helps? https://stackoverflow.com/questions/16956295/ie10-and-cross-origin-resource-sharing-cors-issues-with-image-canvas

[2017-09-08 06:13] engrsandeep opened #57 "Need to draw custom instead of icon"
Hi @MDSLKTR

I have to add some size notification of object in bottom and left of object. Is it possible with your plugin. Same attached below.

![image](https://user-images.githubusercontent.com/10007250/30198346-d962e2ba-948a-11e7-8615-6acc8ee86906.png)

[2017-09-08 07:05] MDSLKTR commented on #57
Hey there, thank you for your question! This however is not really the focus of this plugin but it should be possible with plain fabric.js since you can create disabled text or shape elements and position them next to the movable object. You only need to sync positions of the elements.

Regards,
Simon

[2017-09-08 11:41] engrsandeep commented on #57
Hi @MDSLKTR,

Thanks, i have achieved this by grouping of objects.

I encountered one issue cursor not changing as per functionality. I have used below code to customiseControls but it not showing pointer cursor. Can you help?

fabric.Canvas.prototype.customiseControls({
            tr: {
                action: function( e, target ) {
                    self.deleteObject(target)

[2017-09-08 12:29] nitin-bc opened #58 "Controls outside the canvas"
Hi.

Is it possible to have controls for any object outside the canvas?

[2017-09-09 14:57] MDSLKTR commented on #57
Hey there,
is none of them showing a pointer cursor? Or just one specific corner? Other than that, which fabric.js version are you using?

Regards,
Simon

[2017-09-09 14:59] MDSLKTR commented on #58
Hey,

at the moment not possible due to limitations in fabric.js and how the controls are built. It would be way to much workaround in order to get it working.
This has been done and discussed here: https://github.com/pixolith/fabricjs-customise-controls-extension/issues/22
Maybe you can find something useful in there.

Regards,
Simon

[2017-09-09 14:59] #58 closed, assigned to nobody

[2017-09-09 15:09] engrsandeep commented on #57
@MDSLKTR i have used latest fabric version 2.0.0-beta6. Which one you recommend?

[2017-09-09 18:40] MDSLKTR commented on #57
Hey again,
fabric 2 is currently not officially supported as it is still beta and i dont have the time to keep up with changes. The latest fabric 1 schould work as expected.

Regards,
Simon

[2017-09-10 16:06] #53 closed, assigned to nobody

[2017-09-11 17:31] #56 closed, assigned to nobody

[2017-09-14 17:07] fsanano commented on #35
Also I find this bug, when I create group with image and IText. My group don't delete, just lost focus this group.

[2017-09-14 18:55] MDSLKTR commented on #35
@fsanano hey there, which fabricjs version are you using and is there any error in the console?

[2017-09-15 05:06] fsanano commented on #35
I use v0.3.5.
But yesterday i fix this bug:
[code]

[2017-10-03 10:55] ajeetvarma opened #59 "Problem with Reactjs"
I am using this plugin with React js . After dragging an image to board the following error in console is coming :

Then i edited the code in customiseControls.js on line 205 by commenting that line like this :
       ` // this._setLineDash([ctx, this.cornerDashArray, null]);`
Then after i again dragged then it works partially . It appears the control icons but when i clicked on image the followin

[2017-10-03 11:05] MDSLKTR commented on #59
Hey there and thanks for your report!
I doubt it's a problem with react. Which fabric.js version are you running and how are you including the plugin in your code?

Regards,
Simon

[2017-10-03 11:06] #57 closed, assigned to nobody

[2017-10-03 11:45] ajeetvarma commented on #59
Thanks for your response .
I am using Fabric 1.6.0-rc.1 version .
I have used fabric-webpack package .

Regards,
Ajeet

[2017-10-03 11:53] MDSLKTR commented on #59
Hey again,
please try with a recent stable version of fabric.js. 1.7.17 and upwards should be good. Version 2 is not supported. Your version might be too old and is not stable.

Regards,
Simon

[2017-10-04 04:21] ajeetvarma commented on #59
Thanks a lot ! It works like a charm !! :+1:

[2017-10-04 04:21] #59 closed, assigned to nobody

[2017-10-04 20:07] MDSLKTR commented on #59
Glad i could help :)

[2017-10-16 10:35] Luca-A-Mueller opened #60 "cornerStrokeColor can not be set"
Hello,

first thank you for providing us with this great extension, it is very helpful and intuitive.

Our versions are:
[code]

We are using it to substitute fabrics control corners with some svg icons to push the control
nodes outside of the borders.

However it seems that the original corners are still present after loading a svg.
_Is this expected behaviour?_

I started formatting the corner i

[2017-10-17 14:43] MDSLKTR commented on #60
Hey there,

thanks for your report.

`However it seems that the original corners are still present after loading a svg.
Is this expected behaviour?`

Yes this is due to limitations of the fabric.js corner implemenation. You cannot easily move the click areas. It has been done though, but very hacky.

Concerning the corner stroke:  The last value of rgba is alpha which means opacity and 0 means you

[2017-10-17 15:21] Luca-A-Mueller commented on #60
Hi Simon,

thank you for the quick response.
I should have clarified, that my intention was to set both the cornerBackgroundColor and the cornerStrokeColor to transparent.

This works for cornerBackgroundColor:
`          cornerBackgroundColor: 'rgba(0,0,0,0)',
`
but not for cornerStrokeColor.

As I said the cornerStroke remains white regardless of the color I choose.

Cheers,
Luca

[2017-10-19 21:20] MDSLKTR commented on #60
Hey again,

sorry for the late response. You should see the questions that are usually asked, so i assumed to start with the basics, no offense :P. Please try the new release 0.3.6. You should now be able to overwrite the settings per corner even when cornerStrokeColor is set on the object itself. This won't solve the clicking area problem though, sadly.

Regards,
Simon

[2017-12-13 15:35] kotay commented on #54
Looks like Fabric 2.0 is out of beta now, any idea when support for 2.0 will come?

[2017-12-13 21:38] MDSLKTR commented on #54
@kotay hey there,
I'll see what i can do but due to time aren't actively following the fabric development. It might be too much work for now. PRs are always welcome though.

Regards,
Simon

[2017-12-25 10:06] MDSLKTR opened #61 "Upgrade to fabric 2.0"
Since fabric 2 has it's release candidates a 2.0 branch might be required soon.

[2017-12-25 10:07] #60 closed, assigned to nobody

[2018-03-13 20:28] reesemartin commented on #61
If you change your extension's override of "_setCornerCursor" to "getCornerCursor" which is what fabricjs has renamed that to, the custom corner cursor will work with versions after fabricjs's commit https://github.com/kangax/fabric.js/commit/03e504303c4e216b520b1d6486606010ea610d8b

[2018-03-14 07:21] MDSLKTR commented on #61
@reesemartin Hey, thank you for the input. It would be amazing if that was it. Was expecting a much larger chore to get it working. Will try it asap.

Thanks.

[2018-03-24 17:00] MDSLKTR commented on #61
@reesemartin feel free to check out the next branch. It looks like it's working now. Needed more changes but nonetheless might not be complete yet.

[2018-03-24 17:00] #61 closed, assigned to nobody

[2018-03-24 17:01] MDSLKTR commented on #61
https://github.com/pixolith/fabricjs-customise-controls-extension/tree/next

[2018-03-25 08:43] reesemartin commented on #61
Yes I did have to make those active object changes in my fabricjs code when upgrading. I am using this plugin primarily for the custom icons, custom hover cursor, and my own functions on click so I did not catch the need for those changes in your code. Great job catching that those needed changed. Love the plugin. Thanks!

[2018-03-28 01:55] dczii opened #62 "Can't assign different cursor for controls"
Hi, I am having a problem in applying different cursor for each controls that I assigned. The cursor can't seem to change even though I changed the cursor in my code. I have followed properly the documentation you have on your page. here's a link to simulate the problem.
[JSFiddle Link](https://jsfiddle.net/dczii/aehLfaps/241/)

[2018-03-28 17:56] MDSLKTR commented on #62
Hey there. Thanks for your report. When using version 2.x of fabric.js you need to also use the 2.0.0-beta from the @next branch of this repository. When changing the customiseControls.js to https://unpkg.com/fabric-customise-controls@2.0.0-beta/dist/customiseControls.js in your fiddle, the cursor change works. Hope this helps.

[2018-04-02 02:40] dczii commented on #62
wow great!! works perfectly. You can close this issue now. thank you so much.

[2018-04-02 17:30] MDSLKTR commented on #62
Great, no problem :)

[2018-04-02 17:30] #62 closed, assigned to nobody

[2018-04-03 09:20] TingoL opened #63 "fabric 2.0 and angular, can't change icons"
I'm trying to use the next branch with angular and I can change everything except for the icons. That includes customisecontrols and customisecornericons. The only error I get is
`scripts.bundle.js:4 Uncaught TypeError: Cannot read property 'degreesToRadians' of undefined`. Any ideas what it could be?

[2018-04-03 12:48] TingoL commented on #63
duplicate of #37, closing

[2018-04-03 12:48] #63 closed, assigned to nobody

[2018-04-04 04:42] SmboBeast commented on #35
For what it is worth, @fsanano's fix worked for me as well.

I was having an issue with things not deleting as well using the standard action: 'remove' snippet.

I then went ahead with overriding the action method with my own function.  I basically just did the below, and things sort of worked.  I say sort of, because the actual target object wasn't removed immediately when the remove corner butto

[2018-04-04 18:46] MDSLKTR commented on #35
@SmboBeast I basicly put the above fix into the default remove action. I'm not quite sure why this was needed. I can only assume that clicking the remove corner would immediately trigger another click action which would activate the image again and therefore maybe not remove it in the same render. Using the setTimeout 0 hack forces it into the next render cycle which makes it work as expected. Cer

[2018-04-16 05:44] dczii commented on #62
hi @MDSLKTR additional question here. I am now migrating my fiddle to reactjs component. how can I choose the next branch when importing it in my component?

[2018-04-16 05:57] dczii commented on #62
@MDSLKTR nevermind my question, I think I figured it out on my own. changing the version in package.json seems the answer.

[2018-04-19 03:43] nogurenn opened #64 "ReferenceError: window is not defined"
I've checked React Starter Kit for information regarding this and it appears I need fabric-customise-controls to render client-side only. However, how can I do this? Is there a way to support server-side rendering?

Relevant dependencies
[code]

[code]

[2018-04-20 21:44] MDSLKTR commented on #64
Hey there. I could make this opt out of server side rendering when window is not defined however it doesn't make much sense. In these Server Side Rendering packages there usually are two different entrypoints. You should look for something called client.js in contrast to server.js. In the client.js you import this package using es6 import right after fabric.js.

[2018-06-07 17:40] #64 closed, assigned to nobody

[2018-07-18 14:20] appledev44 opened #65 "Cursor style is not appear on object corner."
I used customise controls extension. But I see the one thing about cursor. Cursor style is not applying to corner. I tried to apply crossHair and pointer. Can you tell me what I missed in code.
Please check the fiddle.
https://jsfiddle.net/jogvx768/9/

[2018-07-21 16:42] MDSLKTR commented on #65
Hey there, when using fabric.js 2 and above you need to install the @next branch of this repository or fetch the release (2.0.0-beta) in your package.json in order for it to work. Take a look here: https://github.com/pixolith/fabricjs-customise-controls-extension/issues/62. I tried it in your fiddle and the cursors change as expected.
Regards,
Simon

[2018-07-21 16:42] #65 closed, assigned to nobody

[2019-01-23 03:43] sxy0707 opened #67 "removeAction error"
Uncaught TypeError: this.getActiveGroup is not a function
    at klass._removeAction (db0fabc01439a150199705231a343198.js:1)
    at klass._setupCurrentTransform (db0fabc01439a150199705231a343198.js:1)
    at klass.__onMouseDown (fabric.js:11537)
    at klass._onMouseDown (fabric.js:11155)

[2019-01-23 03:58] #67 closed, assigned to nobody

[2019-01-24 03:48] JoeyKo opened #68 "how to disable delete action when the object is not active."
fabric `2.5.0`
fabric-customise-controls `2.0.1-beta`

Now I can even delete object when it is not selected.

[2019-01-27 13:10] MDSLKTR commented on #68
Hey there, thanks for creating this issue. I'm not sure what your use case is since the object will always be considered active or activated first if you press one of the controls. Is this an issue of stacking multiple objects or do you want to simply disable all controls if something is happening in your code?

[2019-01-27 14:40] JoeyKo commented on #68
@MDSLKTR I wrote a demo in codesandbox.
You can try to let the cursor hover on the top-left corner(the object is not active), then click down.
[https://codesandbox.io/s/k24m95rxn7](https://codesandbox.io/s/k24m95rxn7)

I think maybe the es6 `import "fabric-customise-controls"` causes the problem

[2019-01-27 17:14] MDSLKTR commented on #68
Hey again, yeah i can see what you mean, this probably happening since forever because the object is getting activated by clicking the remove icon which is invisible at that point and then being immediatly removed. Not sure if i can do much about it but i will look into it for sure. Will be keeping you updated.

[2019-01-29 16:58] MDSLKTR commented on #68
Yeah this is an issue that is set somewhere inside the core. As i suspected when the object is not active and you click the corner where remove is set, the event will first trigger the object to become active, which then gets picked up by the remove action checking if this.getActiveObjects() is present and also being triggered by the click propagating through. So afaik there is no way to distingui

[2019-01-30 02:22] JoeyKo commented on #68
I'm confused why the live demo page working fine, But `import 'fabric-customise-controls'` has this problem

[2019-02-01 19:42] MDSLKTR commented on #68
This could be due to the demo running on fabric 1.7 still. I haven't had the time to switch everything to 2 and deprecate 1. I need to confirm this locally first though when upgrading the demo.

[2019-04-17 11:18] MDSLKTR commented on #68
This should be fixed in 2.0.2-beta, thanks @thedarkside

[2019-04-17 20:00] #68 closed, assigned to nobody

[2019-05-08 09:32] GreatAuk opened #70 "Can't custom the controls for specify object?"
[code]
Get a error:  Uncaught TypeError: text.customiseControls is not a function

[2019-05-08 18:40] MDSLKTR commented on #70
Hey there,

`customiseControls` extends the Canvas prototype not the Object prototype and therefore can only be applied to your canvas instance (see: https://github.com/pixolith/fabricjs-customise-controls-extension#customising-the-controls). You can use `customiseCornerIcons` on your text object though.

Regards,
Simon

[2019-05-09 05:09] GreatAuk commented on #70
@

Thank you for your reply👍

[2019-05-09 05:09] #70 closed, assigned to nobody

[2019-05-25 04:16] jawad-aziz-farhad opened #71 "Property 'customiseControls' does not exist on type Canvas angular 7.2.15"
I'm trying to implement custom controls in my angular 7 project. Versions are as fellows:
"@angular/core": "~7.2.15",
"fabric": "^2.7.0",
"fabric-customise-controls": "^2.0.2-beta",

after importing fabric-customise-controls in my component using this
import 'fabric-customise-controls';

When I tried to implement customization code,

`fabric.Canvas.prototype.customiseControls({
    tl: {
        a

[2019-05-25 10:59] MDSLKTR commented on #71
Hey thanks for reporting this. Could you maybe provide a minimal codepen / codesandbox for me to figure out whether its framework related or a problem in the code itself?

[2019-05-26 12:37] jawad-aziz-farhad commented on #71
Please use this repo to reproduce this issue:
**https://github.com/jawad-aziz-farhad/Custom-Controllers**
Uncomment this function **customControls()** and you will see this issue.
Thanks

[2019-05-28 07:17] jawad-aziz-farhad commented on #71
Hi @MDSLKTR ,
I'm really sorry. just realised that I didn't push the relevant code to this repo. please have a look now.

[2019-05-28 07:57] jawad-aziz-farhad commented on #71
I also created a plunker [here](https://next.plnkr.co/edit/aN3AabBiKUmVtGOz?preview). You can also check that.

[2019-05-28 18:07] MDSLKTR commented on #71
Hey, no problem! For me the plunker is working though. If I click on the bottom left corner the action is correctly triggered as remove instead of the default. Also the prototype is applied as you can see in my screenshot.
![image](https://user-images.githubusercontent.com/9129687/58501198-1cc74b80-8184-11e9-835d-e624805c373f.png)

Maybe a different browser than Chrome?

[2019-05-29 06:33] jawad-aziz-farhad commented on #71
I can also see this but angular's compiler can't get this. its giving the same error.

[2019-05-29 07:41] jawad-aziz-farhad commented on #71
ok. I got it working by doing the following code. As I need it for the IText object which is at 0 index of canvas.

`const icons = [
    'assets/_images/circle.svg',
    'assets/_images/rotate.svg',
    'assets/_images/expand.svg'
  ];
this.canvas.item(0)['customiseCornerIcons']({
    settings: {
        borderColor: 'black',
        cornerSize: 25,
        cornerShape: 'rect',
        cornerBackg

[2019-05-29 07:41] #71 closed, assigned to nobody

[2019-05-30 05:14] jawad-aziz-farhad opened #72 "rotate action not working"
rotate action is not working.  I want to use it for the 'tr' control.
I'm using the following code:

`customizeControls() {
    const icons = [
      'assets/_images/circle.svg',
      'assets/_images/rotate.svg',
      'assets/_images/expand.svg'
    ];
    fabric.Canvas.prototype['customiseControls']({
      tl: {
        action: (e, target) => {
          this.selectedOptions.angle = 0;

[2019-05-31 05:07] #72 closed, assigned to nobody

[2019-06-09 16:03] xmqywx opened #73 "version 2.0.2 has a big issue"
**Version**: 2.0.2
**Fabricjs**: 2.4.6 ~ 3.1.0
**Macos**

When updated version to 2.0.2, just require this js
Object can not move directly,
It needs to be selected before it can be moved

[2019-06-10 18:08] MDSLKTR commented on #73
Hey thanks for reporting this. Could you maybe reproduce the use case in a fiddle or codesandbox in order for me to figure out how your object is configured and what doesn't work. That would help a lot.

[2019-06-20 21:15] mbejda commented on #73
@MDSLKTR  I just got the same issue. Here is a jsfiddle reproducing it.
https://jsfiddle.net/b382hnwr/18/
Notice that img drag is initiated on the second click whereas it should have been initiated on the first.
The problem is with this function
[code]

[2019-06-24 14:34] MDSLKTR commented on #73
Hey thanks for the fiddle. This might be a regression from another fix. I get the problem now though.

[2019-06-25 02:49] mbejda commented on #73
@MDSLKTR I fixed it by removing this line here. It seems to be working fine but I'm not sure what the consequences are.
https://github.com/pixolith/fabricjs-customise-controls-extension/blob/next/dist/customiseControls.js#L502

[2019-06-26 13:38] MDSLKTR commented on #73
@mbejda @mbejda Please try 2.0.5-beta which has been released just now. Should fix both the regression (preventing instant drag) and still stop instant actions (like delete without select)

[2019-06-26 15:00] Granga opened #74 "Corner size is not properly detected when individual cornerSize is larger than global cornerSize"
My goal is to have all corners to show as small squares, and rotation handle to be icon and larger than the rest of the corners.
I was able to do that, but when I hover the rotation handle, cursor does not change until it's right at the center of the handle. This is because when detecting edges of the handle fabric uses different `cornerSize` than the number specified for the rotation handle.
Here

[2019-06-27 06:59] mbejda commented on #73
@MDSLKTR the latest works for me ;)

[2019-06-27 07:27] MDSLKTR commented on #73
Thanks for the feedback :) I'll go ahead and close this but feel free to open another issue if something isn't working as expected with this fix.

[2019-06-27 07:27] #73 closed, assigned to nobody

[2019-07-02 22:12] MDSLKTR commented on #74
Merged and released as 2.0.6-beta, thanks!

[2019-07-02 22:12] #74 closed, assigned to nobody

[2019-07-08 08:05] nasiruddin-saiyed commented on #64
Though its  a closed issue but it  may going to help someone who is trying to resolve this error while SSR,

i'm trying get it work in react with SSR so basically problem is,  `window` is not available on server renderer, so better to not to import on component

` import "fabric-customise-controls";  ` - **THIS WILL NOT WORK**

- It should be loaded after only components lifecycles gets executed o

[2019-07-17 10:48] mbejda opened #76 "Change control fill color while scaling?"
Does this library offer the ability to change control fill color while scaling? I'm trying to achieve something similar to this.

![captured](https://user-images.githubusercontent.com/5429780/61369769-21110a80-a891-11e9-832e-deaf59bb8396.gif)

[2019-07-22 09:16] MDSLKTR commented on #76
Hey there. Well this should work by listening to the corresponding fabric.js event and reinitializing `customiseControls` with the proper config "on scale". The same for "on scaleend" and redrawing the the canvas when doing so.

[2019-07-25 02:56] mbejda commented on #76
Thank you

[2019-07-25 02:56] #76 closed, assigned to nobody

[2019-11-06 10:05] khajaamin commented on #37
Hello Folks,
Sorry I am bugging on old and closed issue. I am still getting same issue when  I am using it as recommended.
in main.js

package.json

Please help.

Thanks

[2020-03-06 03:27] tsunamiGG opened #79 "automatic hidden cornerIcons"
When I was developing a web project, I found that cornerIcons will show it once ,then I click on something other than cornerIcons,icon will disappear。
How to automatic hidden cornerIcons? its have some Events?

[2020-03-25 14:27] asturur opened #80 "FabricJS 4 and custom control api"
Hi,
as of version 4 (still in beta) of fabricJS, there is an API to create custom controls.
No custom control is provided.

I was wondering if you want to refactor your functionalities to fit the new api. The api will be stable and no more rework of the functions should be needed in the future versions.

Sadly this library won't work on 4.0 as it is because internal changes are bigger than usual t

[2020-04-14 07:09] MDSLKTR commented on #80
Hey @asturur, sorry for the late reply. Hope you are well. I would like that since my plan longterm was to get this quite invasive extension to be supported by fabric itself. I'll try to migrate it but my time these days is very limited, so for anyone reading this PRs welcome :)

[2020-12-05 15:18] yesilcimenahmet commented on #80
Any news ? Please Update it for 4x  @MDSLKTR

[2020-12-05 18:46] MDSLKTR commented on #80
I am not using fabric anymore actively, so this would have to be done as a PR. I dont have the time at the moment.

[2021-12-28 06:04] umair-saeed-codegenio commented on #80
@MDSLKTR did you manage sometime to fulfill lot of people need?

[2022-01-15 08:15] LeoLagardo opened #81 "'fabric-customise-controls' doesn't work on Angular app"
import 'fabric-customise-controls';

error in console:
ERROR TypeError: this._resetCurrentTransform is not a function

[2022-05-20 16:30] ivent opened #82 "Error _resetCurrentTransform is not a function not campatible Fabric 5"
this script does an amazing job, but unfortunately it's not working anymore on fabric version ^5.2.1 I get an error

[code]
could someone adapt the code to the latest version of fabric or do you have another workaround to customize the command icons in svg?

[2022-05-23 18:27] MDSLKTR commented on #82
Thank you for the kind words. I was hoping fabric would deliver this functionality in the core by now since i havent been using it for a long time. There seems to be something for custom controls now (http://fabricjs.com/docs/fabric.Object.html#controls). Maybe thats a starter.

[2022-06-15 17:38] ivent commented on #82
Hi, thank you very much for your help, I found that Fabric created this function in the latest versions and finally managed to create custom controls, thanks for your collaboration http://fabricjs.com/custom-control-render

[2022-06-15 17:38] #82 closed, assigned to nobody

[2022-06-15 17:39] ivent commented on #81
Hello now fabric has a native feature to create custom controls that works with newer versions check out http://fabricjs.com/custom-control-render

[2022-06-15 17:41] ivent commented on #80
Hello now fabric has a native feature to create custom controls that works with newer versions check out http://fabricjs.com/custom-control-render

[2022-10-26 03:46] NaniNoah opened #83 "this._resetCurrentTransform is not a function"
Sorry this happened to me
How can i fix this problem?

### customiseControls.js:451 Uncaught TypeError: this._resetCurrentTransform is not a function
    at klass._setupCurrentTransform (customiseControls.js:451:1)
    at klass.__onMouseDown (fabric.js:12142:1)
    at klass._onMouseDown (fabric.js:11751:1)

[code]
Thx

[2022-10-26 06:11] NaniNoah commented on #83
I change fabric version to v2.2.0
but still some problem

`Uncaught TypeError: fabric__WEBPACK_IMPORTED_MODULE_3__.fabric.Control is not a constructor`

[code]